.card-contr {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1em;
    height: 22.5rem;
    border-radius: 1em;
}


.card-image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logo {
    height: 90%;
}

.card-contents {
    height: 50%;
    text-align: center;
    padding: 0.5em;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1em;
/* letter-spacing: 0.1em; */
color: rgba(0, 0, 0, 0.8);
}

.card-text {
color: rgb(107, 106, 105);
line-height: 2em;
word-spacing:normal;
}

.footer-sub-contr{
    cursor: pointer;
}

@media (min-width: 360px) and (max-width: 900px){
    .card-contr {
        margin-right: 3em;
    }
}