.body-cntr {
  width: 100%;
}

.header-cntr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-items {
  margin-left: 1em;
}

.nav-container {
  display: flex;
}

.header-logo {
  width: 6.2em;
  height: 6.4em;
  display: flex;
}

.point-logo {
  width: 8.2em;
  height: 8.5em;
}
.main-back-cntr {
  margin: 0;
  padding: 0;
  /* background-color: rebeccapurple; */
  width: 100%;
}

.back-img {
  height: 100% !important;
}

.second-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.second-back-cntr {
  width: 100%;
  height: 11rem;
  background-color: #00522c;
}

.organic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-organic {
  width: 65%;
}

.view-more-btn {
  margin-top: 4em;
  background-color: #6cbf3c;
  color: white;
  border: 0;
  height: 3.5em;
  width: 8%;
  font-weight: bolder;
  font-size: 1.2em;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 100%;
}

.banner-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-banner-cntr {
  width: 100%;

  margin-top: 2em;
  height: 48rem;
  display: flex;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 3em;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  background-color: #00522c;
  color: white;
}

.order-now-btn {
  margin-top: 4em;
  background-color: #6cbf3c;
  color: white;
  border: 0;
  height: 3.2em;
  width: 30%;
  padding-left: 1em;
  border-radius: 0.3em;
  padding-right: 1em;
  /* padding: 1em; */
}

.banner-lcontr {
  /* display: flex; */
  width: 50%;
  text-align: left;
  line-height: 1.5em;
  word-spacing: normal;
  margin-left: 1em;
}

.banner-rcontr {
  /* display: flex; */
  width: 70%;
  padding: 1em;
}

.banner-image {
  height: 60%;
}

.banner-points-image {
  height: 80%;
  width: 80%;
}

.product-contr {
  width: 100%;
  display: flex;
  padding: 0 !important;
}

.product-info {
  width: 65%;
  display: flex;
}

/* .our-prd-cntr{
    width: 80%;
    display: flex;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: column;
    
  } */

.product-descr {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  /* border: 1px solid rgb(70, 27, 27); */
}

.point {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  word-spacing: normal;
  font-size: 0.9em;
  font-family: "Roboto";
}

.text-clr {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  font-family: "Roboto";
}

.product-counter {
  background-color: #6cbf3c;
  width: 20%;
  text-align: center;
  color: white;
  /* border: 0; */
  outline: 0;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  height: 1.45em;
  display: flex;
  justify-content: space-between;
}

.product-cart-btn {
  background-color: #6cbf3c;
  width: 20%;
  text-align: center;
  color: white;
  border: 0;
  outline: 0;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  height: 3em;
}

.product-action-contr {
  display: flex;
}

.prd-right-contr {
  /* display: flex; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prd-left-contr {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.bill-image {
  /* border: 1px solid black;
    padding: 0.2em; */
  height: 100%;
  /* margin: 1em; */
}

.bill-cntr {
  padding: 1em;
  border: 1px solid rgb(0, 0, 0);
  height: 30%;
  width: 50%;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.ghee-prd-main {
  height: 90%;
}

.image-botm-contr {
  display: flex;
  height: 40%;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.sub-banner-image {
  height: 80%;
  width: 80%;
}

.motherdaughter {
  height: 14em;
}

.manwithghee {
  height: 15em;
}

.banner-points {
  padding: 2em;
  background-image: url(../Assets//Images/BottomBanner.png);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 800px;
  width: 100vw !important;
  /* You must set a specified height */
  /* background-position: center; */
  /* Center the image */
  background-repeat: no-repeat;
  /* background-position: 0%; */

  /* Do not repeat the image */
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-size: contain; */
  /* Resize the background image to cover the entire container */
}

.points {
  /* height: 50%; */
  width: 100% !important;
  /* background-color: red; */
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  align-items: center;
}

.point-items {
  /* background-color: rgb(176, 203, 176); */
  /* padding: 1em;
    border-bottom: 1px solid rgb(216, 213, 213); */
  /* border-style: dashed; */

  /* border-top: none; */
}

.point-1 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-top: none;
  border-left: none;
  /* background-color: red; */
  height: 8rem;
  /* height: 20%; */
}

.point-2 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-top: none;
  border-right: none;
  /* background-color: red; */
  height: 8rem;
}

.point-3 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-left: none;
  border-top: none;
  /* background-color: red; */
  height: 8rem;
  /* height: 30%; */
}

.point-4 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-right: none;
  border-top: none;
  /* background-color: red; */
  height: 8rem;
  /* height: 30%; */
}

.point-5 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-bottom: none;
  border-left: none;
  border-top: none;
  /* background-color: red; */
  height: 8rem;
  /* height: 30%; */
}

.point-6 {
  width: 40%;
  border-style: dashed;
  border-color: #ffffff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  /* background-color: red; */
  height: 8rem;
  /* height: 30%; */
}

.point-description {
  margin-left: 2em;
}

.point-heading {
  margin-left: 2em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #c1c1c1;
}

.item {
  width: 34rem;
  /* border:1px solid red; */
  background-color: #ffffff;
  /* padding: 1em; */
  color: #7b7474;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.commenter-name {
  text-align: right !important;
  color: #6cbf3c;
  /* background-color: red; */
  margin-right: 1em;
  width: 100%;
}

.testimoial-description {
  padding: 0;
  margin: 0;
  margin-top: 1em;
  line-height: 1em;
}

.footer-container {
  padding: 2em;
  background-image: url(../Assets//Images/BottomBanner.png);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 400px;
  width: 100vw !important;
  /* You must set a specified height */
  /* background-position: center; */
  /* Center the image */
  background-repeat: no-repeat;
  /* background-position: 0%; */

  /* Do not repeat the image */
  background-size: cover;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom-bar {
  background-color: #00522c;
}

.footer-logo {
  width: 20%;
  /* background-color: goldenrod; */
}
.footer-sub-contr {
  height: 15rem;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid red; */
  color: #ffffff;
}

.follow-ups-links {
  display: flex;
  flex-direction: row !important;
  margin: 1em;
}

.reach-us,
.quick-calls {
  margin: 1em;
}

.follw-icon-contr {
  display: flex;
}

/* .polygon-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
 } */

.polygon-box {
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: red; */
width: 50%;
}

.polygon {
  width: 0.4rem;
  height: 0.6em;
}

.details {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* padding-left: 0.5em; */

}

.contact-us {
  display: flex;
  flex-direction: column;
  padding: 0.6em;
}
