.body-cntr {
  width: 100%;
}


.point-logo {
  width: 8.2em;
  min-height: 8.5em;
}
.main-back-cntr {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 7em;
}

.back-img {
  min-height: 100% !important;
}

.second-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15rem;
  background-color: #00522c;
}

.second-back-cntr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-button-now {
  margin-top: 4em;
  background-color: #6cbf3c;
  color: white;
  border: 0;
  min-height: 3em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.2em;
  border-radius: 0.2em;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.order-button-div {
  margin-right: 4rem;
}

.ghee-main-cntr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6.5em;
}

.ghee-small {
  width: 80%;
  position: relative;
  left: 5%;
}

.ghee-text-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}

.organic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.certified-organic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  margin: 1em;
}

.text-organic {
  width: 100%;
  line-height: 3em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.text-organic-certi {
  width: 65%;
  line-height: 2em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.view-more-btn {
  margin-top: 4em;
  background-color: #6cbf3c;
  color: white;
  border: 0;
  min-height: 3em;
  width: 10%;
  font-weight: bolder;
  font-size: 1.2em;
  border-radius: 0.2em;
  margin: 0;
  cursor: pointer;
}

.card-container {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 100%;
}

.banner-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-banner-cntr {
  width: 100%;

  margin-top: 2em;
  height: 46rem;
  display: flex;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 3em;
  justify-content: space-between;
  align-items: center;
  background-color: #00522c;
  color: white;
}

.order-now-btn {
  margin-top: 4em;
  background-color: #6cbf3c;
  color: white;
  border: 0;
  min-height: 3.2em;
  width: 30%;
  padding-left: 1em;
  border-radius: 0.3em;
  padding-right: 1em;
  cursor: pointer;
}

.banner-lcontr {
  width: 60%;
  text-align: left;
  line-height: 1.5em;
  word-spacing: normal;
  margin-left: 1em;
}

.banner-rcontr {
  width: 70%;
  padding: 1em;
}

.banner-image {
  min-height: 60%;
}

.banner-points-image {
  min-height: 80%;
  width: 80%;
  margin: 1em;
}

.product-contr {
  width: 100%;
  display: flex;
  padding: 0 !important;
}

.product-info {
  width: 80%;
  display: flex;
}

.buttur-text {
  color: rgba(11, 11, 18, 0.57);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.95em;
}

.product-descr {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.point {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  word-spacing: normal;
  font-size: 1em;
  font-family: "Roboto";
}

.text-clr {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  font-family: "Roboto";
}

.product-counter {
  background-color: #6cbf3c;
  width: 24%;
  text-align: center;
  color: white;
  outline: 0;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  min-height: 1.45em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-cart-btn {
  background-color: #6cbf3c;
  width: 24%;
  text-align: center;
  color: white;
  border: 0;
  outline: 0;
  margin: 1.2em;
  margin-left: 0.1em;
  padding: 0.5em;
  border-radius: 0.2em;
  min-height: 3em;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.product-action-contr {
  display: flex;
}

.prd-right-contr {
  /* display: flex; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-left: 4em; */
}

.prd-left-contr {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-left: 4em;
}

.bill-image {
  height: 90%;
  border: 1px solid rgb(0, 0, 0);
  padding: 1em;
  width: 50%;
  margin-top: -3em;
  display: flex;
  justify-content: center;
}

.bill-image1 {
  height: 80%;
  width: 70%;
}

.bill-cntr {
  padding: 1em;
  min-height: 30%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.ghee-prd-main {
  min-height: 90%;
}

.image-botm-contr {
  display: flex;
  min-height: 40%;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.sub-banner-image {
  min-height: 80%;
  width: 80%;
}

.motherdaughter {
  height: 14em;
  margin-left: 5em;
}

.manwithghee {
  height: 17em;
  margin-top: -3em;
  margin-right: 1em;
}

.banner-points {
  padding: 2em;
  background-image: url(../Assets//Images/BottomBanner.png);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 800px;
  width: 100vw !important;
  /* You must set a specified height */
  /* background-position: center; */
  /* Center the image */
  background-repeat: no-repeat;
  /* background-position: 0%; */

  /* Do not repeat the image */
  background-size: cover;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-size: contain; */
  /* Resize the background image to cover the entire container */
}

.text-7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.1em;
  margin: 2em;
}

.points {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  align-items: center;
}

.point-img-head {
  display: flex;
  flex-direction: row;
}

.point-image {
  width: 10%;
  margin-left: 4em;
  margin-top: 1.5em;
}

.point-description {
  margin-left: 4em;
  margin-top: -0.3em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.95em;
  letter-spacing: normal;
}

.point-heading {
  margin-left: 2em;
  margin-top: 2em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
}

.point-1 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-top: none;
  border-left: none;
  border-right: none;
  /* background-color: red; */
  height: 10rem;
  /* height: 20%; */
}

.point-2 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-top: none;
  border-right: none;
  /* background-color: red; */
  height: 10rem;
}

.point-3 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-left: none;
  border-top: none;
  border-right: none;
  /* background-color: red; */
  height: 10rem;
  /* height: 30%; */
}

.point-4 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-right: none;
  border-top: none;
  /* background-color: red; */
  height: 10rem;
  /* height: 30%; */
}

.point-5 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: none;
  /* background-color: red; */
  height: 10rem;
  /* height: 30%; */
}

.point-6 {
  width: 35%;
  border-style: dashed;
  border-color: #bdb9b9;
  border-bottom: none;
  border-right: none;
  border-top: none;
  /* background-color: red; */
  height: 10rem;
  /* height: 30%; */
}

.commenter-photo {
  width: 6.2em;
  height: 6.4em;
  display: flex;
  margin: 0.5em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #c1c1c1;
}

.item {
  width: 32rem;
  height: 15rem;
  border: 1px solid lightgray;
  background-color: #ffffff;
  color: #7b7474;
  margin: 1.2em !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.commenter-name {
  text-align: right !important;
  color: #6cbf3c;
  /* background-color: red; */
  margin-right: 1em;
  width: 100%;
}

.testimoial-description {
  padding: 0;
  margin: 0;
  margin-top: 1em;
  line-height: 1em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.text-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 2.1em;
}

.text-4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
}

.text-5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.1em;
}

.text-6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.9em;
}

.text-9 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2.1em;
}

.shyam {
  visibility: hidden;
}


/* .ghee-small-new{
  visibility: hidden;
}

.button-new-order{
  visibility: hidden;
} */

@media (min-width: 360px) and (max-width: 900px) {
  .add-banner-cntr {
    display: flex;
    flex-direction: column-reverse;
    height: 72rem;
    padding-right: none;
    padding-left: none;
    padding-top: none;
  }

  /* .header-rectangle {
    display: none;
  } */

  .second-cntr {
    height: 8rem;
  }

  .ghee-small {
    display: none;
  }

  .ghee-text-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-back-cntr {
    display: none;
  }

  .view-more-btn {
    width: 30%;
  }

  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .prd-left-contr {
    height: 50%;
    width: 50%;
  }

  .ghee-prd-main {
    min-height: 50% !important;
    margin-left: 2em;
  }

  .product-contr {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .prd-right-contr {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .product-descr {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }

  .product-counter {
    width: 30%;
  }

  .product-cart-btn {
    width: 30%;
  }

  .point {
    line-height: 1.6em;

    font-size: 1.2em;
    margin-right: 1.5em;
  }

  .banner-points {
    height: 70em;
    width: 100vw !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .points {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 4em;
  }

  .text-7 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: 2em;
  }

  .point-img-head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .point-heading {
    margin-left: 2em;
    margin-top: 2em;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
  }

  .point-image {
    width: 15%;
    margin-left: 0;
    margin-top: 1em;
  }

  .point-description {
    margin-left: 0;
    margin-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.95em;
    letter-spacing: normal;
  }

  .point-1 {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .point-2 {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .point-3 {
    width: 90%;
    border-left: none;
    border-top: none;
    border-right: none;
  }

  .point-4 {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .point-5 {
    width: 90%;
    border-style: dashed;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: #bdb9b9;
    margin-bottom: 1em;
  }

  .point-6 {
    width: 90%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .footer-container {
    height: 55em;
    width: 100vw !important;
    flex-direction: column;
  }

  .footer-sub-contr {
    height: 15rem;
    width: 100%;
    margin-top: 2em;
  }

  .follow-ups-links {
    display: flex;
    flex-direction: column !important;
    margin: 1em;
    width: 100%;
    margin-left: 0%;
  }

  .polygon-box {
    margin-left: 1em;
  }

  .reach-us,
  .quick-calls {
    margin-left: 0em;
    cursor: pointer;
  }

  .footer-sub-contr {
    height: 28rem;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }

  .shyam {
    visibility: visible;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.8;
    color: #ffffff;
  }

  .banner-lcontr {
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    text-transform: uppercase;
    word-spacing: normal;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2rem;
  }

  .text-3 {
    font-size: 1.6em;
    width: 100%;
  }

  .banner-rcontr {
    width: 100%;
    /* margin-top: 5em; */
  }

  .banner-image {
    min-height: 50%;
  }

  .banner-points-image {
    min-height: 90%;
    width: 90%;
  }

  .image-botm-contr {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }

  .sub-banner-image {
    min-height: 45%;
    width: 45%;
  }

  .motherdaughter {
    height: 12em;
    width: 14em;
    margin-left: 0;
  }

  .manwithghee {
    height: 15.5em;
    margin-top: -3.3em;
    margin-right: 0;
  }

  .certified-organic {
    font-weight: 500;
    font-size: 1.8em;
    color: #212325;
  }

  .text-organic-certi {
    width: 90%;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    font-size: 1.2em;
    color: #212325;
  }

  .item {
    margin-right: 4em;
  }

  .text-1 {
    margin-right: 3em;
  }

  .text-2 {
    margin-right: 3em;
  }

  .text-8 {
    justify-content: flex-start;
  }

  .follw-icon-contr {
    justify-content: flex-start;
  }
}
